In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

 - select only columns that appear in flights_test AND delay time
 - check for null values and duplicates
 - datatype conversion: time and categorical data
 - what columns are actually useful (even if they are in flght_test)
 - distributions??

In [2]:
flights_df = pd.read_csv('data/flights_sample.csv')
test_df = pd.read_csv('data/flights_test.csv')

In [3]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159275 entries, 0 to 159274
Data columns (total 43 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           159275 non-null  int64
 1   fl_date              159275 non-null  object
 2   mkt_unique_carrier   159275 non-null  object
 3   branded_code_share   159275 non-null  object
 4   mkt_carrier          159275 non-null  object
 5   mkt_carrier_fl_num   159275 non-null  int64
 6   op_unique_carrier    159275 non-null  object
 7   tail_num             158782 non-null  object
 8   op_carrier_fl_num    159275 non-null  int64
 9   origin_airport_id    159275 non-null  int64
 10  origin               159275 non-null  object
 11  origin_city_name     159275 non-null  object
 12  dest_airport_id      159275 non-null  int64
 13  dest                 159275 non-null  object
 14  dest_city_name       159275 non-null  object
 15  crs_dep_time         159275 non-null  int64
 16  dep_time             156736 non-null  float64
 17  dep_delay            156689 non-null  float64
 18  taxi_out             156591 non-null  float64
 19  wheels_off           156591 non-null  float64
 20  wheels_on            156515 non-null  float64
 21  taxi_in              156515 non-null  float64
 22  crs_arr_time         159275 non-null  int64
 23  arr_time             156578 non-null  float64
 24  arr_delay            156205 non-null  float64
 25  cancelled            159275 non-null  int64
 26  cancellation_code    2646 non-null    object
 27  diverted             159275 non-null  int64
 28  dup                  159275 non-null  object
 29  crs_elapsed_time     159275 non-null  float64
 30  actual_elapsed_time  156228 non-null  float64
 31  air_time             156165 non-null  float64
 32  flights              159275 non-null  int64
 33  distance             159275 non-null  int64
 34  carrier_delay        30156 non-null   float64
 35  weather_delay        30156 non-null   float64
 36  nas_delay            30156 non-null   float64
 37  security_delay       30156 non-null   float64
 38  late_aircraft_delay  30156 non-null   float64
 39  first_dep_time       1079 non-null    float64
 40  total_add_gtime      1079 non-null    float64
 41  longest_add_gtime    1079 non-null    float64
 42  no_name              0 non-null       float64
dtypes: float64(20), int64(11), object(12)
memory usage: 52.3+ MB

In [4]:
flights_df.T

,0,1,2,3,4,5,6,7,8,9,...,159265,159266,159267,159268,159269,159270,159271,159272,159273,159274
Unnamed: 0,8122517,947109,3213760,9682682,79504,174865,5635650,9747044,10894761,4502224,...,10442580,1779958,8057913,8301216,3948917,9645985,15290641,5737222,10540577,5504395
fl_date,2019-02-12,2019-05-25,2018-01-02,2019-11-24,2018-07-17,2018-07-22,2018-11-23,2019-11-27,2018-10-21,2019-10-02,...,2018-12-31,2019-03-01,2019-02-09,2019-02-21,2018-08-08,2019-11-23,2018-04-15,2018-11-27,2018-10-04,2018-11-16
mkt_unique_carrier,DL,AS,DL,UA,AA,AA,B6,WN,DL,AA,...,UA,UA,AA,DL,B6,B6,UA,AA,AS,HA
branded_code_share,DL,AS,DL,UA_CODESHARE,AA,AA_CODESHARE,B6,WN,DL_CODESHARE,AA,...,UA,UA_CODESHARE,AA,DL_CODESHARE,B6,B6,UA_CODESHARE,AA_CODESHARE,AS,HA_CODESHARE
mkt_carrier,DL,AS,DL,UA,AA,AA,B6,WN,DL,AA,...,UA,UA,AA,DL,B6,B6,UA,AA,AS,HA
mkt_carrier_fl_num,2070,1438,2297,4808,1815,3499,1635,892,4456,1344,...,2401,4743,2659,3687,1171,746,5994,4963,1387,651
op_unique_carrier,DL,AS,DL,ZW,AA,MQ,B6,WN,OO,AA,...,UA,AX,AA,OO,B6,B6,OO,PT,AS,EM
tail_num,N915DN,N844VA,N922DX,N419AW,N703UW,N820AE,N503JB,N465WN,N258SY,N939AN,...,N486UA,N18114,N200NV,N899SK,N639JB,N966JT,N124SY,N603KC,N284VA,N805HC
op_carrier_fl_num,2070,1438,2297,4808,1815,3499,1635,892,4456,1344,...,2401,4743,2659,3687,1171,746,5994,4963,1387,651
origin_airport_id,11996,12892,12451,12264,11057,11066,14771,10397,12280,10994,...,11292,13930,14107,11433,12953,14254,11298,14524,14771,12492
origin,GSP,LAX,JAX,IAD,CLT,CMH,SFO,ATL,IDA,CHS,...,DEN,ORD,PHX,DTW,LGA,PSE,DFW,RIC,SFO,JHM
origin_city_name,"Greer, SC","Los Angeles, CA","Jacksonville, FL","Washington, DC","Charlotte, NC","Columbus, OH","San Francisco, CA","Atlanta, GA","Idaho Falls, ID","Charleston, SC",...,"Denver, CO","Chicago, IL","Phoenix, AZ","Detroit, MI","New York, NY","Ponce, PR","Dallas/Fort Worth, TX","Richmond, VA","San Francisco, CA","Kapalua, HI"
dest_airport_id,10397,14831,10397,10257,11278,12953,12954,12451,14869,11298,...,12264,10792,14908,14524,11697,12478,14771,14100,14057,12173
dest,ATL,SJC,ATL,ALB,DCA,LGA,LGB,JAX,SLC,DFW,...,IAD,BUF,SNA,RIC,FLL,JFK,SFO,PHL,PDX,HNL
dest_city_name,"Atlanta, GA","San Jose, CA","Atlanta, GA","Albany, NY","Washington, DC","New York, NY","Long Beach, CA","Jacksonville, FL","Salt Lake City, UT","Dallas/Fort Worth, TX",...,"Washington, DC","Buffalo, NY","Santa Ana, CA","Richmond, VA","Fort Lauderdale, FL","New York, NY","San Francisco, CA","Philadelphia, PA","Portland, OR","Honolulu, HI"
crs_dep_time,1020,2005,1540,1715,1310,910,1604,1955,1521,744,...,1234,1428,1503,2025,1441,319,550,1703,1805,1041
dep_time,1017.0,2058.0,1535.0,1704.0,1306.0,920.0,1556.0,2011.0,1512.0,737.0,...,1255.0,1417.0,1500.0,2024.0,1832.0,309.0,545.0,1729.0,1801.0,1031.0
dep_delay,-3.0,53.0,-5.0,-11.0,-4.0,10.0,-8.0,16.0,-9.0,-7.0,...,21.0,-11.0,-3.0,-1.0,231.0,-10.0,-5.0,26.0,-4.0,-10.0
taxi_out,23.0,27.0,14.0,16.0,17.0,19.0,17.0,13.0,9.0,21.0,...,49.0,29.0,14.0,15.0,18.0,29.0,18.0,15.0,14.0,5.0
wheels_off,1040.0,2125.0,1549.0,1720.0,1323.0,939.0,1613.0,2024.0,1521.0,758.0,...,1344.0,1446.0,1514.0,2039.0,1850.0,338.0,603.0,1744.0,1815.0,1036.0
wheels_on,1115.0,2220.0,1637.0,1815.0,1420.0,1101.0,1711.0,2107.0,1559.0,906.0,...,1819.0,1701.0,1514.0,2144.0,2117.0,620.0,745.0,1824.0,1937.0,1103.0
taxi_in,6.0,3.0,8.0,6.0,5.0,8.0,3.0,4.0,6.0,14.0,...,5.0,3.0,4.0,8.0,7.0,20.0,3.0,8.0,4.0,4.0
crs_arr_time,1126,2130,1658,1854,1437,1100,1728,2100,1620,933,...,1747,1707,1524,2224,1759,618,800,1814,1951,1117
arr_time,1121.0,2223.0,1645.0,1821.0,1425.0,1109.0,1714.0,2111.0,1605.0,920.0,...,1824.0,1704.0,1518.0,2152.0,2124.0,640.0,748.0,1832.0,1941.0,1107.0
arr_delay,-5.0,53.0,-13.0,-33.0,-12.0,9.0,-14.0,11.0,-15.0,-13.0,...,37.0,-3.0,-6.0,-32.0,205.0,22.0,-12.0,18.0,-10.0,-10.0
cancelled,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
cancellation_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
diverted,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
dup,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
crs_elapsed_time,66.0,85.0,78.0,99.0,87.0,110.0,84.0,65.0,59.0,169.0,...,193.0,99.0,81.0,119.0,198.0,239.0,250.0,71.0,106.0,36.0
actual_elapsed_time,64.0,85.0,70.0,77.0,79.0,109.0,78.0,60.0,53.0,163.0,...,209.0,107.0,78.0,88.0,172.0,271.0,243.0,63.0,100.0,36.0
air_time,35.0,55.0,48.0,55.0,57.0,82.0,58.0,43.0,38.0,128.0,...,155.0,75.0,60.0,65.0,147.0,222.0,222.0,40.0,82.0,27.0
flights,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
distance,153,308,270,325,331,479,354,270,188,987,...,1452,473,338,456,1076,1617,1464,198,550,84
carrier_delay,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,NaN,NaN,NaN,188.0,0.0,NaN,3.0,NaN,NaN
weather_delay,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN
nas_delay,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,NaN,NaN,NaN,0.0,22.0,NaN,0.0,NaN,NaN
security_delay,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN
late_aircraft_delay,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,17.0,0.0,NaN,15.0,NaN,NaN
first_dep_time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_add_gtime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longest_add_gtime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no_name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
test_columns = test_df.columns
test_columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance'],
      dtype='object')

In [6]:
model_df = flights_df[test_columns]
model_df['dep_delay'] = flights_df['dep_delay']
model_df.head()

/var/folders/yj/c676wyw500q1vyq2brsvcqtr0000gn/T/ipykernel_15817/3285768412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_df['dep_delay'] = flights_df['dep_delay']

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,dep_delay
0,2019-02-12,DL,DL,DL,2070,DL,N915DN,2070,11996,GSP,...,10397,ATL,"Atlanta, GA",1020,1126,N,66.0,1,153,-3.0
1,2019-05-25,AS,AS,AS,1438,AS,N844VA,1438,12892,LAX,...,14831,SJC,"San Jose, CA",2005,2130,N,85.0,1,308,53.0
2,2018-01-02,DL,DL,DL,2297,DL,N922DX,2297,12451,JAX,...,10397,ATL,"Atlanta, GA",1540,1658,N,78.0,1,270,-5.0
3,2019-11-24,UA,UA_CODESHARE,UA,4808,ZW,N419AW,4808,12264,IAD,...,10257,ALB,"Albany, NY",1715,1854,N,99.0,1,325,-11.0
4,2018-07-17,AA,AA,AA,1815,AA,N703UW,1815,11057,CLT,...,11278,DCA,"Washington, DC",1310,1437,N,87.0,1,331,-4.0

## 2. check for null values and duplicates

In [7]:
# missing values percent in columns
def missing_values_table(df):
        '''function that checks dataframe for missing values and returns a table with the results'''
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        print(mis_val_table_ren_columns)
        
missing_values_table(model_df)

                    Missing Values  % of Total Values
fl_date                          0           0.000000
mkt_unique_carrier               0           0.000000
branded_code_share               0           0.000000
mkt_carrier                      0           0.000000
mkt_carrier_fl_num               0           0.000000
op_unique_carrier                0           0.000000
tail_num                       493           0.309528
op_carrier_fl_num                0           0.000000
origin_airport_id                0           0.000000
origin                           0           0.000000
origin_city_name                 0           0.000000
dest_airport_id                  0           0.000000
dest                             0           0.000000
dest_city_name                   0           0.000000
crs_dep_time                     0           0.000000
crs_arr_time                     0           0.000000
dup                              0           0.000000
crs_elapsed_time                 0           0.000000
flights                          0           0.000000
distance                         0           0.000000
dep_delay                     2586           1.623607

* missing values are negligble so I'm just dropping all of them

In [8]:
model_df = model_df.dropna()
missing_values_table(model_df)

                    Missing Values  % of Total Values
fl_date                          0                0.0
mkt_unique_carrier               0                0.0
branded_code_share               0                0.0
mkt_carrier                      0                0.0
mkt_carrier_fl_num               0                0.0
op_unique_carrier                0                0.0
tail_num                         0                0.0
op_carrier_fl_num                0                0.0
origin_airport_id                0                0.0
origin                           0                0.0
origin_city_name                 0                0.0
dest_airport_id                  0                0.0
dest                             0                0.0
dest_city_name                   0                0.0
crs_dep_time                     0                0.0
crs_arr_time                     0                0.0
dup                              0                0.0
crs_elapsed_time                 0                0.0
flights                          0                0.0
distance                         0                0.0
dep_delay                        0                0.0

In [9]:
# duplicates...
len(model_df) - len(model_df.drop_duplicates())

0

* no duplicates apparently....

## datatype conversion: time and categorical data

In [10]:
model_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156689 entries, 0 to 159274
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             156689 non-null  object
 1   mkt_unique_carrier  156689 non-null  object
 2   branded_code_share  156689 non-null  object
 3   mkt_carrier         156689 non-null  object
 4   mkt_carrier_fl_num  156689 non-null  int64
 5   op_unique_carrier   156689 non-null  object
 6   tail_num            156689 non-null  object
 7   op_carrier_fl_num   156689 non-null  int64
 8   origin_airport_id   156689 non-null  int64
 9   origin              156689 non-null  object
 10  origin_city_name    156689 non-null  object
 11  dest_airport_id     156689 non-null  int64
 12  dest                156689 non-null  object
 13  dest_city_name      156689 non-null  object
 14  crs_dep_time        156689 non-null  int64
 15  crs_arr_time        156689 non-null  int64
 16  dup                 156689 non-null  object
 17  crs_elapsed_time    156689 non-null  float64
 18  flights             156689 non-null  int64
 19  distance            156689 non-null  int64
 20  dep_delay           156689 non-null  float64
dtypes: float64(2), int64(8), object(11)
memory usage: 26.3+ MB

In [11]:
test_df['fl_date']

0         2020-01-01 00:00:00
1         2020-01-01 00:00:00
2         2020-01-01 00:00:00
3         2020-01-01 00:00:00
4         2020-01-01 00:00:00
                 ...
660551    2020-01-31 00:00:00
660552    2020-01-31 00:00:00
660553    2020-01-31 00:00:00
660554    2020-01-31 00:00:00
660555    2020-01-31 00:00:00
Name: fl_date, Length: 660556, dtype: object

In [12]:
model_df['fl_date'] = pd.to_datetime(model_df['fl_date'])

In [13]:
test_df.nunique()

fl_date                 31
mkt_unique_carrier      10
branded_code_share      15
mkt_carrier             10
mkt_carrier_fl_num    6725
op_unique_carrier       25
tail_num              5802
op_carrier_fl_num     6725
origin_airport_id      365
origin                 365
origin_city_name       358
dest_airport_id        365
dest                   365
dest_city_name         358
crs_dep_time          1242
crs_arr_time          1329
dup                      1
crs_elapsed_time       467
flights                  1
distance              1486
dtype: int64

In [14]:
model_df.nunique()

fl_date                730
mkt_unique_carrier      11
branded_code_share      16
mkt_carrier             11
mkt_carrier_fl_num    6811
op_unique_carrier       28
tail_num              6270
op_carrier_fl_num     6813
origin_airport_id      371
origin                 371
origin_city_name       363
dest_airport_id        369
dest                   369
dest_city_name         362
crs_dep_time          1288
crs_arr_time          1372
dup                      1
crs_elapsed_time       510
flights                  1
distance              1550
dep_delay              666
dtype: int64

In [15]:
# change categorical columns to category type

categorical_columns = []
for col in model_df.columns[:-1]: # ignore dep_delay because it's not in test_df
    # check if both columns have unique values less than 30
    if model_df[col].nunique()<30 and test_df[col].nunique() < 30:
        categorical_columns.append(col)
        model_df[col] = model_df[col].astype('category')

categorical_columns

['mkt_unique_carrier',
 'branded_code_share',
 'mkt_carrier',
 'op_unique_carrier',
 'dup',
 'flights']

In [16]:
model_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156689 entries, 0 to 159274
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             156689 non-null  datetime64[ns]
 1   mkt_unique_carrier  156689 non-null  category
 2   branded_code_share  156689 non-null  category
 3   mkt_carrier         156689 non-null  category
 4   mkt_carrier_fl_num  156689 non-null  int64
 5   op_unique_carrier   156689 non-null  category
 6   tail_num            156689 non-null  object
 7   op_carrier_fl_num   156689 non-null  int64
 8   origin_airport_id   156689 non-null  int64
 9   origin              156689 non-null  object
 10  origin_city_name    156689 non-null  object
 11  dest_airport_id     156689 non-null  int64
 12  dest                156689 non-null  object
 13  dest_city_name      156689 non-null  object
 14  crs_dep_time        156689 non-null  int64
 15  crs_arr_time        156689 non-null  int64
 16  dup                 156689 non-null  category
 17  crs_elapsed_time    156689 non-null  float64
 18  flights             156689 non-null  category
 19  distance            156689 non-null  int64
 20  dep_delay           156689 non-null  float64
dtypes: category(6), datetime64[ns](1), float64(2), int64(7), object(5)
memory usage: 20.0+ MB

In [17]:
model_df[list(set(model_df.columns) - set(categorical_columns))]

,origin_airport_id,distance,dest,mkt_carrier_fl_num,tail_num,op_carrier_fl_num,crs_elapsed_time,crs_dep_time,origin_city_name,dep_delay,crs_arr_time,fl_date,dest_city_name,origin,dest_airport_id
0,11996,153,ATL,2070,N915DN,2070,66.0,1020,"Greer, SC",-3.0,1126,2019-02-12,"Atlanta, GA",GSP,10397
1,12892,308,SJC,1438,N844VA,1438,85.0,2005,"Los Angeles, CA",53.0,2130,2019-05-25,"San Jose, CA",LAX,14831
2,12451,270,ATL,2297,N922DX,2297,78.0,1540,"Jacksonville, FL",-5.0,1658,2018-01-02,"Atlanta, GA",JAX,10397
3,12264,325,ALB,4808,N419AW,4808,99.0,1715,"Washington, DC",-11.0,1854,2019-11-24,"Albany, NY",IAD,10257
4,11057,331,DCA,1815,N703UW,1815,87.0,1310,"Charlotte, NC",-4.0,1437,2018-07-17,"Washington, DC",CLT,11278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159270,14254,1617,JFK,746,N966JT,746,239.0,319,"Ponce, PR",-10.0,618,2019-11-23,"New York, NY",PSE,12478
159271,11298,1464,SFO,5994,N124SY,5994,250.0,550,"Dallas/Fort Worth, TX",-5.0,800,2018-04-15,"San Francisco, CA",DFW,14771
159272,14524,198,PHL,4963,N603KC,4963,71.0,1703,"Richmond, VA",26.0,1814,2018-11-27,"Philadelphia, PA",RIC,14100
159273,14771,550,PDX,1387,N284VA,1387,106.0,1805,"San Francisco, CA",-4.0,1951,2018-10-04,"Portland, OR",SFO,14057
159274,12492,84,HNL,651,N805HC,651,36.0,1041,"Kapalua, HI",-10.0,1117,2018-11-16,"Honolulu, HI",JHM,12173

In [18]:
model_df[categorical_columns]

,mkt_unique_carrier,branded_code_share,mkt_carrier,op_unique_carrier,dup,flights
0,DL,DL,DL,DL,N,1
1,AS,AS,AS,AS,N,1
2,DL,DL,DL,DL,N,1
3,UA,UA_CODESHARE,UA,ZW,N,1
4,AA,AA,AA,AA,N,1
...,...,...,...,...,...,...
159270,B6,B6,B6,B6,N,1
159271,UA,UA_CODESHARE,UA,OO,N,1
159272,AA,AA_CODESHARE,AA,PT,N,1
159273,AS,AS,AS,AS,N,1
159274,HA,HA_CODESHARE,HA,EM,N,1

In [19]:
sum(model_df['mkt_unique_carrier'].astype(str) == model_df['op_unique_carrier'].astype(str))

97735

In [20]:
sum(model_df['op_carrier_fl_num'] == model_df['mkt_carrier_fl_num'])

156665

In [21]:
model_df[model_df['op_carrier_fl_num'] != model_df['mkt_carrier_fl_num']]

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,dep_delay
519,2018-12-04,UA,UA_CODESHARE,UA,4038,ZW,N463AW,3150,13930,ORD,...,11977,GRB,"Green Bay, WI",1010,1115,N,65.0,1,174,85.0
999,2019-10-20,DL,DL_CODESHARE,DL,3344,OO,N935SW,4182,10397,ATL,...,13422,MOB,"Mobile, AL",1750,1811,N,81.0,1,302,44.0
4991,2019-03-05,UA,UA_CODESHARE,UA,4411,YX,N640RW,3287,12266,IAH,...,12206,HRL,"Harlingen/San Benito, TX",1420,1539,N,79.0,1,295,-5.0
19233,2019-01-10,UA,UA_CODESHARE,UA,4078,OO,N786SK,5837,11775,FSD,...,13930,ORD,"Chicago, IL",1815,2005,N,110.0,1,463,-20.0
28654,2019-01-09,UA,UA_CODESHARE,UA,4218,OO,N979SW,5823,13931,ORF,...,13930,ORD,"Chicago, IL",1320,1453,N,153.0,1,717,-12.0
29084,2019-11-21,UA,UA_CODESHARE,UA,3902,YV,N86334,3225,14576,ROC,...,12264,IAD,"Washington, DC",1500,1625,N,85.0,1,288,40.0
37299,2019-01-19,UA,UA_CODESHARE,UA,4688,G7,N168GJ,3373,12012,GUC,...,11292,DEN,"Denver, CO",1655,1758,N,63.0,1,152,-3.0
44286,2019-03-02,UA,UA_CODESHARE,UA,4153,YX,N856RW,3290,12266,IAH,...,10781,BTR,"Baton Rouge, LA",1805,1915,N,70.0,1,253,127.0
52575,2018-02-25,UA,UA_CODESHARE,UA,6160,YX,N750YX,3286,12264,IAD,...,10994,CHS,"Charleston, SC",815,1003,N,108.0,1,441,4.0
66698,2019-11-14,UA,UA_CODESHARE,UA,3795,AX,N16151,3330,13930,ORD,...,13367,MLI,"Moline, IL",1214,1313,N,59.0,1,139,282.0
80656,2018-01-07,UA,UA_CODESHARE,UA,6047,YX,N644RW,3288,12266,IAH,...,13198,MCI,"Kansas City, MO",1940,2144,N,124.0,1,643,-4.0
85063,2018-05-01,DL,DL_CODESHARE,DL,3971,EV,N716EV,5621,12953,LGA,...,13931,ORF,"Norfolk, VA",1555,1732,N,97.0,1,296,0.0
88999,2019-10-19,DL,DL_CODESHARE,DL,5680,OO,N281SY,4182,14747,SEA,...,11884,GEG,"Spokane, WA",1315,1422,N,60.0,1,224,1.0
100373,2018-01-22,DL,DL_CODESHARE,DL,4778,9E,N181PQ,9178,10397,ATL,...,13422,MOB,"Mobile, AL",1026,1051,N,85.0,1,302,45.0
106044,2018-12-09,UA,UA_CODESHARE,UA,4283,ZW,N415AW,3152,10792,BUF,...,11618,EWR,"Newark, NJ",1800,1925,N,85.0,1,282,64.0
110471,2018-06-18,DL,DL_CODESHARE,DL,5689,OO,N814SK,4866,14869,SLC,...,11603,EUG,"Eugene, OR",1125,1227,N,120.0,1,618,245.0
120344,2018-05-25,UA,UA_CODESHARE,UA,4877,EV,N12163,3210,11423,DSM,...,13930,ORD,"Chicago, IL",1505,1631,N,86.0,1,299,4.0
127581,2018-01-11,DL,DL_CODESHARE,DL,4920,9E,N8869B,9180,11308,DHN,...,10397,ATL,"Atlanta, GA",530,735,N,65.0,1,170,-4.0
128118,2019-03-16,UA,UA_CODESHARE,UA,4451,YV,N89308,3228,12266,IAH,...,11481,ECP,"Panama City, FL",1215,1403,N,108.0,1,572,130.0
140815,2018-06-14,DL,DL_CODESHARE,DL,5589,OO,N448SW,4865,12945,LEX,...,10397,ATL,"Atlanta, GA",815,941,N,86.0,1,304,361.0
150876,2019-02-04,UA,UA_CODESHARE,UA,4770,OO,N144SY,1345,10627,BIS,...,13930,ORD,"Chicago, IL",1330,1537,N,127.0,1,716,-15.0
155039,2019-03-04,UA,UA_CODESHARE,UA,4222,YX,N640RW,3289,12266,IAH,...,10781,BTR,"Baton Rouge, LA",2130,2240,N,70.0,1,253,57.0
156653,2019-01-07,UA,UA_CODESHARE,UA,4132,OO,N435SW,5929,12264,IAD,...,14730,SDF,"Louisville, KY",845,1039,N,114.0,1,451,-7.0
158121,2018-05-20,UA,UA_CODESHARE,UA,5202,EV,N11165,3206,10747,BRO,...,12266,IAH,"Houston, TX",535,653,N,78.0,1,308,146.0

### dropping unnecessary columns even though they're in test_df
- dup, flight
- dest_city_name, origin_city_name, dest_airport_id, origin_airport_id - dest and origin are better
- crs_elapsed_time not necessary since we have dep_time and arr_time

In [22]:
columns_to_drop = ['dup',
                  'flights',
                  'dest_city_name',
                  'origin_city_name',
                  'dest_airport_id',
                  'origin_airport_id',
                  'crs_elapsed_time',
                  'branded_code_share',
                  'mkt_carrier',
                  'op_carrier_fl_num'] 
model_df_2 = model_df.drop(columns=columns_to_drop)
model_df_2.head()

,fl_date,mkt_unique_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,origin,dest,crs_dep_time,crs_arr_time,distance,dep_delay
0,2019-02-12,DL,2070,DL,N915DN,GSP,ATL,1020,1126,153,-3.0
1,2019-05-25,AS,1438,AS,N844VA,LAX,SJC,2005,2130,308,53.0
2,2018-01-02,DL,2297,DL,N922DX,JAX,ATL,1540,1658,270,-5.0
3,2019-11-24,UA,4808,ZW,N419AW,IAD,ALB,1715,1854,325,-11.0
4,2018-07-17,AA,1815,AA,N703UW,CLT,DCA,1310,1437,331,-4.0

In [23]:
model_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156689 entries, 0 to 159274
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             156689 non-null  datetime64[ns]
 1   mkt_unique_carrier  156689 non-null  category
 2   mkt_carrier_fl_num  156689 non-null  int64
 3   op_unique_carrier   156689 non-null  category
 4   tail_num            156689 non-null  object
 5   origin              156689 non-null  object
 6   dest                156689 non-null  object
 7   crs_dep_time        156689 non-null  int64
 8   crs_arr_time        156689 non-null  int64
 9   distance            156689 non-null  int64
 10  dep_delay           156689 non-null  float64
dtypes: category(2), datetime64[ns](1), float64(1), int64(4), object(3)
memory usage: 12.3+ MB

In [24]:
# saving into folder

model_df_2.to_csv('data/model_df_version_1.csv', index=False)
pd.read_csv('data/model_df_version_1.csv').head()

,fl_date,mkt_unique_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,origin,dest,crs_dep_time,crs_arr_time,distance,dep_delay
0,2019-02-12,DL,2070,DL,N915DN,GSP,ATL,1020,1126,153,-3.0
1,2019-05-25,AS,1438,AS,N844VA,LAX,SJC,2005,2130,308,53.0
2,2018-01-02,DL,2297,DL,N922DX,JAX,ATL,1540,1658,270,-5.0
3,2019-11-24,UA,4808,ZW,N419AW,IAD,ALB,1715,1854,325,-11.0
4,2018-07-17,AA,1815,AA,N703UW,CLT,DCA,1310,1437,331,-4.0